<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - LiveMessenger</title>

    <!--CDN IMPORT OF Crypto-JS used for the hashing and salting of password-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/md5.js"></script>

    <script>
      function registerUser() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("passwordConfirm").value;
        let errorText = document.getElementById("errorText");
        if (password == confirmPassword) {
          console.log("usercreation maybe");
          let request = new XMLHttpRequest();
          let name = document.getElementById("username").value;
          let pass = CryptoJS.MD5(password + name);
          request.open("POST", "/register", true);
          request.setRequestHeader(
            "Content-type",
            "application/x-www-form-urlencoded"
          );
          request.send(`name=${name}&password=${pass}`);
          request.onreadystatechange = function () {
            if (request.response == "taken") {
              errorText.innerHTML = "Username taken!";
            } else if (request.status == 500) {
              errorText.innerHTML = "Error occured!";
            } else if (request.status == 201) {
              window.location = "/login";
            }
          };
        } else {
          errorText.innerHTML = "Passwords do not match!";
        }
      }
    </script>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <div class="fadeIn first">
          <h1>Register To RocketAds</h1>
        </div>
    <form onsubmit="registerUser();return false;">
      <input type="text" placeholder="username" name="username" id="username" />
      <br />
      <input
        type="password"
        placeholder="password"
        name="password"
        id="password"
      />
      <br />
      <input
        type="password"
        placeholder="Confirm Password"
        name="ConfirmPassword"
        id="passwordConfirm"
      />
      <p id="errorText">
        <br />
      </p>
      <input type="submit" value="Register" />
    </form>
    <div id="formFooter">
      <p>By creating an account you agree that RocketAds store cookies!</p>
      <a class="underlineHover" href="/login">Already have an account?</a>
    </div>
  </body>
</html>